*

body{
    background: url(img/fon1.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.hola{
    font-size: 60px;
    font-family: time new roman;
    text-align:  center ;
    color:#F3F3F3;
   text-shadow: -2px -2px 1px #000;
}

nav{
    float: center;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    padding:0.6em;
    vertical-align: top;
 }
 
nav a {
    outline: none;
    background: transparent;
    border-radius: 2px;
    padding: 10px 20px;
    color: white;
    margin-top: 30px;
    transition: all .5s ease;
    cursor: pointer;
}
nav a:hover{
    background: pink;
    color:black;

}
.contenido a{
    color: white;
    text-decoration: none;
}
.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;

}




.header a {
    color:#fff;
    text-decoration: none;
    background-color: #000;

}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
    
    }
    
    .navigation ul li {
        display:inline-block;
       position: relative;
        font-family: 'Times New Roman', Times, serif;
         font-size: 16px;
    }
    
    .navigation ul li a {
        display: block;
        padding:20px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 22px;
        height: 100%;
        background-color: #000;
        width: 500%;
        
         

        
    }

   
